.main-body {
    font-size: 30px;
    font-family: 'Raleway', sans-serif !important;
}

@media only screen and (max-width: 1000px) {
    .name-box {
    font-family: 'Raleway', sans-serif !important;
    font-size: 15px;
    }
}

@media only screen and (max-width: 560px) {
    .name-box {
    font-family: 'Raleway', sans-serif !important;
    font-size: 7.5px;
    }
}

@media only screen and (max-width: 400px) {
    .name-box {
    font-family: 'Raleway', sans-serif !important;
    font-size: 5px;
    }
}

.name {
    font-size: 6em;
    font-weight: 800 !important;
    margin-top: 0;
    margin-bottom: 0;
}
.default-mb {
    margin-top: 3vh;
    margin-bottom: 6vh;
    border-radius: 20px !important;
    margin-left: 10vw;
    margin-right: 10vw;
}
.name-box {
    width: 80vw;
    height: 80vh;
    overflow: auto;
}

.align-middle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.name-align {
    align-items: flex-start;
}

.sur-align {
    align-items: flex-end;
}

.but-align {
    align-items: flex-end;
}

.bu-tex {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
}

.button {
    float: right;
    margin: 10px
}
.Agencies {
    height: 22vh;
    width: 80vw;    
}